<div class="wrapper">
  <div class="container">
    <div class="row justify-tiesm-center align-items-center">
      <!-- Brand & Tournament Info -->
      <div class="col-4">
        <div class="d-flex justify-tiesm-center align-items-center">
          <img src="{{ tournament.logoLink }}" width="90" height="90" />
          <h2 [ngStyle]="{ color: tournament.brandColor }">
            {{ tournament.name }}
          </h2>
        </div>
      </div>
      <div class="col-8">
        <h2 [ngStyle]="{ color: tournament.accentColor }">
          {{ tournament.tournamentName }}
        </h2>
      </div>
      <!-- Tournament info -->
      <div class="col-6">
        <h2>Tournament Info</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>Host:</td>
              <td>
                <div>{{ tournament.name }}</div>
              </td>
            </tr>
            <tr>
              <td>Tournament</td>
              <td>
                <div>{{ tournament.tournamentName }}</div>
              </td>
            </tr>
            <tr>
              <td>N° of players</td>
              <td>
                <div>{{ tournament.playersNumber }}</div>
              </td>
            </tr>
            <tr>
              <td>StreamLink</td>
              <td>
                <div>
                  <a
                    target="_blank"
                    rel="noreferrer"
                    [href]="tournament.streamLink"
                    >Watch Live</a
                  >
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Fake Player -->
      <div class="col-6">
        <video width="600" height="400" controls>
          <source [src]="tournament.streamLink" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</div>
