<div class="container-fluid">
  <div class="row">
    <div class="col-2 border-end">
      <h2>Builder</h2>
      <form class="d-flex flex-column gap-2">
        <label for="host">Company</label>
        <input name="host" id="host" type="text" [(ngModel)]="companyName" />

        <label for="tname">Tournament Name</label>
        <input
          name="tname"
          id="tname"
          type="text"
          [(ngModel)]="tournamentName"
        />

        <label for="main">Main Color</label>
        <input name="main" id="main" type="color" [(ngModel)]="brandColor" />
        <label for="accent">Accent Color</label>
        <input
          name="accent"
          id="accent"
          type="color"
          [(ngModel)]="accentColor"
        />
        <label for="image">Upload your logo</label>
        <input
          id="image"
          name="image"
          type="file"
          accept="image/*"
          (change)="readURL($event)"
        />
        <label for="players">Number of players</label>
        <input
          name="players"
          id="players"
          type="number"
          [min]="0"
          [(ngModel)]="playersNumber"
          class="form-control"
        />
        <label for="streamlink">Stream Link</label>
        <input
          name="streamlink"
          id="streamlink"
          type="text"
          class="form-control"
          placeholder="stream link"
        />
      </form>
    </div>
    <div class="col-10">
      <app-tm-template [tournament]="previewData"></app-tm-template>

      <!-- <h1 [ngStyle]="{ color: mainColor }">Logo</h1>
      <h3 [ngStyle]="{ color: accentColor }">Subtext</h3>
      <div>
        <img [src]="imageSrc" width="160" height="160" />
      </div> -->

      <!-- need to make sure db is updated before sending client there -->
      <button (click)="createTournament()" class="btn btn-primary">
        Create Tournament
      </button>
    </div>
  </div>
</div>
